Q.2
1. Create a Numpy array of student marks in 5 subjects out of maximum 100 marks. There are in total 40 students.
2. Convert this into a Pandas dataframe corresponding to students ids from 202101 to 202140.
3. Get the average marks in each subject.
4. Get the percentage of each student and add that for each student in a separate column.

In [6]:
import numpy as np
import pandas as pd

In [5]:
#Examples
dates = pd.date_range('20220222', periods=10)

### 1

In [9]:
marks = np.random.randint(0,100, (40,5))
marks

array([[51, 43,  6, 53, 32],
       [52, 96, 31, 53, 98],
       [84, 42, 76, 62, 80],
       [86, 52, 17, 99, 63],
       [62,  1,  2, 56, 80],
       [68, 63, 20, 52, 33],
       [12, 13,  5, 59, 95],
       [74, 52, 88, 74, 29],
       [92, 43, 48, 65, 82],
       [84, 12,  4, 60, 70],
       [30,  7, 36, 45,  2],
       [30, 60, 49, 30, 68],
       [69, 22,  1, 75,  3],
       [20, 23, 23, 48, 88],
       [22, 99, 24, 44, 24],
       [86, 34,  2, 93, 12],
       [ 5, 87, 37, 44, 11],
       [43, 73,  9, 52,  6],
       [65, 50, 37,  8, 82],
       [90, 59, 49, 47, 44],
       [57, 45, 98, 97, 21],
       [44,  9,  1, 57, 99],
       [24, 52, 63, 34, 59],
       [38, 18, 45, 51, 16],
       [41, 34, 30, 56, 74],
       [10,  9, 44, 38, 79],
       [57, 12, 66,  0, 91],
       [ 7, 96, 43, 28, 43],
       [ 7, 76, 94, 86, 43],
       [45, 67, 24,  3, 56],
       [71, 71, 66, 94, 83],
       [51, 64, 55, 89, 54],
       [69, 21, 40, 32, 41],
       [89, 11, 82, 23, 54],
       [70, 28, 93, 47, 63],
       [51,  6, 49, 95, 87],
       [92, 96, 82, 90, 72],
       [ 7, 25, 41, 85, 36],
       [87, 94, 75, 34, 72],
       [47, 41, 31, 10, 79]])

### 2

In [92]:
# ids = pd.Series(np.arange(202101, 202141))
ids = np.arange(202101, 202141)
ids
# ids = np.reshape(ids, (40,1))

array([202101, 202102, 202103, 202104, 202105, 202106, 202107, 202108,
       202109, 202110, 202111, 202112, 202113, 202114, 202115, 202116,
       202117, 202118, 202119, 202120, 202121, 202122, 202123, 202124,
       202125, 202126, 202127, 202128, 202129, 202130, 202131, 202132,
       202133, 202134, 202135, 202136, 202137, 202138, 202139, 202140])

### Method 1

In [70]:
students_df = pd.DataFrame({'ID': ids,
                            'Sub1':marks[:,0],
                            'Sub2':marks[:,1],
                            'Sub3':marks[:,2],
                            'Sub4':marks[:,3],
                            'Sub5':marks[:,4] })
students_df
# students_df.head()
# students_df.tail()

        ID  Sub1  Sub2  Sub3  Sub4  Sub5
0   202101    51    43     6    53    32
1   202102    52    96    31    53    98
2   202103    84    42    76    62    80
3   202104    86    52    17    99    63
4   202105    62     1     2    56    80
5   202106    68    63    20    52    33
6   202107    12    13     5    59    95
7   202108    74    52    88    74    29
8   202109    92    43    48    65    82
9   202110    84    12     4    60    70
10  202111    30     7    36    45     2
11  202112    30    60    49    30    68
12  202113    69    22     1    75     3
13  202114    20    23    23    48    88
14  202115    22    99    24    44    24
15  202116    86    34     2    93    12
16  202117     5    87    37    44    11
17  202118    43    73     9    52     6
18  202119    65    50    37     8    82
19  202120    90    59    49    47    44
20  202121    57    45    98    97    21
21  202122    44     9     1    57    99
22  202123    24    52    63    34    59
23  202124    38    18    45    51    16
24  202125    41    34    30    56    74
25  202126    10     9    44    38    79
26  202127    57    12    66     0    91
27  202128     7    96    43    28    43
28  202129     7    76    94    86    43
29  202130    45    67    24     3    56
30  202131    71    71    66    94    83
31  202132    51    64    55    89    54
32  202133    69    21    40    32    41
33  202134    89    11    82    23    54
34  202135    70    28    93    47    63
35  202136    51     6    49    95    87
36  202137    92    96    82    90    72
37  202138     7    25    41    85    36
38  202139    87    94    75    34    72
39  202140    47    41    31    10    79

In [71]:
marks[:,0]

array([51, 52, 84, 86, 62, 68, 12, 74, 92, 84, 30, 30, 69, 20, 22, 86,  5,
       43, 65, 90, 57, 44, 24, 38, 41, 10, 57,  7,  7, 45, 71, 51, 69, 89,
       70, 51, 92,  7, 87, 47])

In [72]:
a = np.array([[1, 2, 3], [10, 20, 30]])
b = np.array([[4, 5, 6], [7, 8, 9]])
c = np.concatenate((a,b), axis = 0)
c
d = np.concatenate((a,b), axis = 1)
d

array([[ 1,  2,  3],
       [10, 20, 30],
       [ 4,  5,  6],
       [ 7,  8,  9]])

array([[ 1,  2,  3,  4,  5,  6],
       [10, 20, 30,  7,  8,  9]])

In [77]:
df = np.concatenate((ids, marks), axis = 1)
df

array([[202101,     51,     43,      6,     53,     32],
       [202102,     52,     96,     31,     53,     98],
       [202103,     84,     42,     76,     62,     80],
       [202104,     86,     52,     17,     99,     63],
       [202105,     62,      1,      2,     56,     80],
       [202106,     68,     63,     20,     52,     33],
       [202107,     12,     13,      5,     59,     95],
       [202108,     74,     52,     88,     74,     29],
       [202109,     92,     43,     48,     65,     82],
       [202110,     84,     12,      4,     60,     70],
       [202111,     30,      7,     36,     45,      2],
       [202112,     30,     60,     49,     30,     68],
       [202113,     69,     22,      1,     75,      3],
       [202114,     20,     23,     23,     48,     88],
       [202115,     22,     99,     24,     44,     24],
       [202116,     86,     34,      2,     93,     12],
       [202117,      5,     87,     37,     44,     11],
       [202118,     43,     73,      9,     52,      6],
       [202119,     65,     50,     37,      8,     82],
       [202120,     90,     59,     49,     47,     44],
       [202121,     57,     45,     98,     97,     21],
       [202122,     44,      9,      1,     57,     99],
       [202123,     24,     52,     63,     34,     59],
       [202124,     38,     18,     45,     51,     16],
       [202125,     41,     34,     30,     56,     74],
       [202126,     10,      9,     44,     38,     79],
       [202127,     57,     12,     66,      0,     91],
       [202128,      7,     96,     43,     28,     43],
       [202129,      7,     76,     94,     86,     43],
       [202130,     45,     67,     24,      3,     56],
       [202131,     71,     71,     66,     94,     83],
       [202132,     51,     64,     55,     89,     54],
       [202133,     69,     21,     40,     32,     41],
       [202134,     89,     11,     82,     23,     54],
       [202135,     70,     28,     93,     47,     63],
       [202136,     51,      6,     49,     95,     87],
       [202137,     92,     96,     82,     90,     72],
       [202138,      7,     25,     41,     85,     36],
       [202139,     87,     94,     75,     34,     72],
       [202140,     47,     41,     31,     10,     79]])

### Method 2

In [86]:
students_df1 = pd.DataFrame( df, columns = ['ID', 'Sub1', 'Sub2', 'Sub3', 'Sub4', 'Sub5'] )
students_df1

        ID  Sub1  Sub2  Sub3  Sub4  Sub5
0   202101    51    43     6    53    32
1   202102    52    96    31    53    98
2   202103    84    42    76    62    80
3   202104    86    52    17    99    63
4   202105    62     1     2    56    80
5   202106    68    63    20    52    33
6   202107    12    13     5    59    95
7   202108    74    52    88    74    29
8   202109    92    43    48    65    82
9   202110    84    12     4    60    70
10  202111    30     7    36    45     2
11  202112    30    60    49    30    68
12  202113    69    22     1    75     3
13  202114    20    23    23    48    88
14  202115    22    99    24    44    24
15  202116    86    34     2    93    12
16  202117     5    87    37    44    11
17  202118    43    73     9    52     6
18  202119    65    50    37     8    82
19  202120    90    59    49    47    44
20  202121    57    45    98    97    21
21  202122    44     9     1    57    99
22  202123    24    52    63    34    59
23  202124    38    18    45    51    16
24  202125    41    34    30    56    74
25  202126    10     9    44    38    79
26  202127    57    12    66     0    91
27  202128     7    96    43    28    43
28  202129     7    76    94    86    43
29  202130    45    67    24     3    56
30  202131    71    71    66    94    83
31  202132    51    64    55    89    54
32  202133    69    21    40    32    41
33  202134    89    11    82    23    54
34  202135    70    28    93    47    63
35  202136    51     6    49    95    87
36  202137    92    96    82    90    72
37  202138     7    25    41    85    36
38  202139    87    94    75    34    72
39  202140    47    41    31    10    79

### Method 3

In [101]:
students_df2 = pd.DataFrame( marks, index = ids, columns = ['Sub1', 'Sub2', 'Sub3', 'Sub4', 'Sub5'])
# marks_df = pd.DataFrame( marks, index = ids, columns = ['S1', 'S2', 'S3', 'S4', 'S5'])

students_df2

        Sub1  Sub2  Sub3  Sub4  Sub5
202101    51    43     6    53    32
202102    52    96    31    53    98
202103    84    42    76    62    80
202104    86    52    17    99    63
202105    62     1     2    56    80
202106    68    63    20    52    33
202107    12    13     5    59    95
202108    74    52    88    74    29
202109    92    43    48    65    82
202110    84    12     4    60    70
202111    30     7    36    45     2
202112    30    60    49    30    68
202113    69    22     1    75     3
202114    20    23    23    48    88
202115    22    99    24    44    24
202116    86    34     2    93    12
202117     5    87    37    44    11
202118    43    73     9    52     6
202119    65    50    37     8    82
202120    90    59    49    47    44
202121    57    45    98    97    21
202122    44     9     1    57    99
202123    24    52    63    34    59
202124    38    18    45    51    16
202125    41    34    30    56    74
202126    10     9    44    38    79
202127    57    12    66     0    91
202128     7    96    43    28    43
202129     7    76    94    86    43
202130    45    67    24     3    56
202131    71    71    66    94    83
202132    51    64    55    89    54
202133    69    21    40    32    41
202134    89    11    82    23    54
202135    70    28    93    47    63
202136    51     6    49    95    87
202137    92    96    82    90    72
202138     7    25    41    85    36
202139    87    94    75    34    72
202140    47    41    31    10    79

### 3

In [103]:
# students_df2["Sub1"].mean()
# students_df2["Sub2"].mean()
# students_df2["Sub3"].mean()
# students_df2["Sub4"].mean()
# students_df2["Sub5"].mean()

students_df2.mean()

Sub1    52.225
Sub2    45.150
Sub3    42.150
Sub4    54.200
Sub5    55.600
dtype: float64

### 4

In [108]:
total_marks = students_df2['Sub1'] + students_df2['Sub2'] + students_df2['Sub3'] + students_df2['Sub4'] + students_df2['Sub5']
total_marks

202101    185
202102    330
202103    344
202104    317
202105    201
202106    236
202107    184
202108    317
202109    330
202110    230
202111    120
202112    237
202113    170
202114    202
202115    213
202116    227
202117    184
202118    183
202119    242
202120    289
202121    318
202122    210
202123    232
202124    168
202125    235
202126    180
202127    226
202128    217
202129    306
202130    195
202131    385
202132    313
202133    203
202134    259
202135    301
202136    288
202137    432
202138    194
202139    362
202140    208
dtype: int64

In [114]:
per_marks = total_marks/5
students_df2('Percentage') = per_marks

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (907374192.py, line 2)